
*.mp4
.849C9593-D756-4E56-8D6E-42412F2A707B
Grupo 02 - NRC 17386/.ipynb_checkpoints/SolucionAnaliticaManivelaCorredera-checkpoint.ipynb
Grupo 03 - 17513/.ipynb_checkpoints/SolucionAnaliticaManivelaCorrederaG3-checkpoint.ipynb
Grupo 02 - NRC 17386/.ipynb_checkpoints/SolucionAnaliticaManivelaCorredera-checkpoint.ipynb
Grupo 03 - 17513/.ipynb_checkpoints/SolucionAnaliticaManivelaCorrederaG3-checkpoint.ipynb
Grupo 01 - NRC 16028/.ipynb_checkpoints/SolucionAnaliticaManivelaCorrederaG1-checkpoint.ipynb
Grupo 01 - NRC 16028/.ipynb_checkpoints/test-checkpoint.ipynb
